$red                   : #F34A53;
$red-90                : rgba($red, 0.90);
$red-80                : rgba($red, 0.80);
$red-70                : rgba($red, 0.70);
$red-50                : rgba($red, 0.50);
$red-30                : rgba($red, 0.30);
$red-20                : rgba($red, 0.20);
$red-10                : rgba($red, 0.10);

$purple                : #5B2F91;
$purple-90             : rgba($purple, 0.90);
$purple-80             : rgba($purple, 0.80);
$purple-70             : rgba($purple, 0.70);
$purple-50             : rgba($purple, 0.50);
$purple-30             : rgba($purple, 0.30);
$purple-20             : rgba($purple, 0.20);
$purple-10             : rgba($purple, 0.10);

$d-gray                  : #34495E;
$d-gray-90               : rgba($d-gray, 0.90);
$d-gray-80               : rgba($d-gray, 0.80);
$d-gray-70               : rgba($d-gray, 0.70);
$d-gray-50               : rgba($d-gray, 0.50);
$d-gray-30               : rgba($d-gray, 0.30);
$d-gray-20               : rgba($d-gray, 0.20);
$d-gray-10               : rgba($d-gray, 0.10);

$l-gray                  : #E1E1E1;
$l-gray-80               : rgba($l-gray, 0.80);
$l-gray-50               : rgba($l-gray, 0.50);
$l-gray-30               : rgba($l-gray, 0.30);

$orange                  : #E67E22;
