$color-list: $red, $orange, $purple;
$severity-list: 'SEVERE', 'MODERATE', 'MILD';

* {
  box-sizing: border-box;
}

.home-page {
  .navbar {
    position: fixed;
    z-index: 10;
  }

  .nav-hide {
    @include transform(translateY(-50px));
    opacity: 0;
    transition: 100ms cubic-bezier(.27,.03,.74,.99);
    visibility: hidden;
  }

  .nav-scroll-true {
    @include transform(translateY(0));
    opacity: 1;
    visibility: visible;
  }

  .home-grid {
    padding-top: 190px;
    padding-bottom: 100px;
  }

  .home-search {
    margin: 0 auto 120px;
    max-width: 600px;
    text-align: center;

    input {
      font-size: 24px;
      padding: 10px 15px;
      min-width: 400px;
    }
  }

  .logo-container {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 250px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .home-stats-container {
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 700px;
    text-align: center;
  }

  .stats-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 35px;
  }

  .number {
    font-size: 55px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }

  .stat-label {
    color: $d-gray-70;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 150px;
  }

  .bar-chart-background {
    background: $l-gray;
    bottom: 0;
    position: absolute;
    right: 40px;
    width: 10px;
    height: 100%;
  }

  .bar-chart {
    background: $red;
    position: absolute;
    bottom: 0;
    transition: 100ms;
    width: 10px;
  }

  .stat-arrow:after {
    animation: bot-to-top 1.2s both infinite;
    content: "\f176";
    font-family: "FontAwesome";
    font-size: 30px;
    position: absolute;
    right: 30px;
    bottom: 0;
  }

  @keyframes bot-to-top {
    0% { @include transform(translateY(50px)); }
    100% { @include transform(translateY(-60px)); }
  }

  .home-reports-container {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
  }

  .reports-grid {
    @include prefixer(column-count, 2);
    @include prefixer(column-gap, 20px);
  }

  @media all and (max-width: 670px) {
    .nav-hide {
      display: none;
    }

    .search-bar input {
      min-width: auto;
      width: 100%;
    }

    .home-reports-container {
      max-width: 450px;
    }

    .stat-arrow {
      margin-top: 40px;

      &:after {
        right: 110px;
      }
    }

    .reports-grid {
      @include prefixer(column-count, 1);
      @include prefixer(column-gap, 0);
    }
  }
}
