.notify-page {
  #map {
    height: 300px !important;
  }

  .subscribe-stats-container {
    border-bottom: 1px solid $l-gray;
    margin-bottom: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-basis: row wrap;
  }

  .stat {
    text-align: center;
    width: 50%;

    h1 {
      font-size: 30px;
      margin-bottom: 12px;
    }
  }

  .gmnoprint {
    display: none;
  }

  #pac-input {
    left: 50% !important;
    margin-left: 0;
    top: 15px !important;
    @include transform(translateX(-50%));
  }
}
