.notify-page {
  .form-container {
    max-width: 450px;
  }

  .page-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 20px;
  }

  .form-question {
    margin-bottom: 15px;

    label {
      color: $d-gray-70;
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .form-input {
      width: 100%;
    }
  }

  .submit-btn {
    float: right;
    margin-top: 15px;
  }
}
