// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  width: 100%;
  height: 48px;
  background-color: #ff0000;
}

.home-grid {

}

.home-page {

}

.header-jewel {

}

.search-page {

}

.d3-graph {
  width: 712px;
  height: 256px;
}
