.search-page {
  @include clearAfter;
  height: 100vh;

  .page-container {
    height: calc(100% - 48px);
  }

  .map-container {
    float: left;
    height: 100%;
    width: 50%;
  }

  #map {
    height: 100%;
  }

  .graphs-container {
    float: left;
    height: 100%;
    padding: 30px;
    width: 50%;
  }
}
