$color-list: $red, $orange, $purple;
$severity-list: 'SEVERE', 'MODERATE', 'MILD';

.search-page {
  .navbar {
    background: #FCFCFC;
    border-bottom: 1px solid $l-gray;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 10;

    .container {
      border-bottom: none;
    }
  }

  @include clearAfter;
  height: 100vh;

  .page-container {
    height: 100%;
    padding-top: 78px;
    position: relative;
  }

  .map-container {
    bottom: 0;
    height: calc(100% - 78px);
    position: fixed;
    width: 50%;
  }

  #map {
    height: 100%;
  }

  .data-container {
    bottom: 0;
    height: calc(100% - 78px);
    overflow-x: hidden;
    padding: 30px;
    position: absolute;
    right: 0;
    width: 50%;
  }

  .timeframe-label {
    display: inline-block;
    margin-top: 5px;
  }

  .time-option-container {
    @include clearAfter;
    margin-bottom: 15px;
    text-align: center;
  }

  .time-button {
    border-left: none;
    border-radius: 0;
    display: inline-block;
    font-weight: 500;
    padding: 10px 20px;

    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left: 1px solid $red;
    }

    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .time-button-true {
    @extend .btn--solid;
  }

  .category-title {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 12px;
  }

  .chart {
    background: white;
    border: 1px solid $l-gray;
    margin: 40px auto;
    padding: 20px;
    text-align: center;

    label {
      display: inline-block;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  .legend {
    margin-left: 40px;
    margin-bottom: 25px;
  }

  .textBottom {
    font-size: 22px;
  }

  .search-reports-container {
    @include prefixer(column-count, 2);
    @include prefixer(column-gap, 20px);
  }

  @media (max-width: 1000px) {
    .map-container {
      width: 45%;
    }
    .data-container {
      width: 55%;
    }
  }

  @media (max-width: 900px) {
    .map-container {
      height: 300px;
      position: relative;
      width: 100%;
    }

    .data-container {
      height: auto;
      position: relative;
      width: 100%;
    }

    .gmnoprint {
      display: none;
    }

    #pac-input {
      margin-left: 0;
      left: 50% !important ;
      top: 10px !important;
      @include transform(translateX(-50%));
    }
  }
}
